header {
  display: flex;
  width: 100%;
  margin-top: 0;
  font-size: 20px;
  color: rgb(27, 33, 117);
  display: flex;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

img {
  float: right;
  height: 500px;
  width: 60%;
  position: relative;
  top: 20px;
  left: 50px;
  z-index: 2;
}
.text {
  font-size: 60px;
  flex-direction: column;
  position: relative;
  top: 470px;
}
div.bluebox {
  background-color: rgb(17, 21, 71);
  width: 60%;
  height: 200px;
  position: relative;
  top: 400px;
  left: 0px;
  z-index: 1;
}
.title {
  font-size: 30px;
}
ul {
  display: flex;
  width: 40%;
  color: rgb(24, 30, 117);
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
  justify-content: space-between;
}

body {
  width: 100%;
  margin: 0;
}
